@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgb(0, 0, 0);
}

.menu__mobile--item--active {
  @apply p-2 bg-[#333] rounded-md;
}

.rotate-arrow {
  @apply transform rotate-180;
}

.menu__desktop1:hover div:nth-child(1) {
  @apply top-0 left-0;
}

.menu__desktop1:hover div:nth-child(2),
.menu__desktop1 div:nth-child(2):hover {
  @apply block;
}

.menu__desktop2:hover div:nth-child(1) {
  @apply top-0 left-0;
}

.menu__desktop2:hover div:nth-child(2),
.menu__desktop2 div:nth-child(2):hover {
  @apply block;
}

.menu__desktop3:hover div:nth-child(1) {
  @apply top-0 left-0;
}

.menu__desktop3:hover div:nth-child(2),
.menu__desktop3 div:nth-child(2):hover {
  @apply block;
}

.button__cta:hover .button__cta--small--box {
  @apply bg-white;
}

.button__cta:hover .button__cta--skew--box {
  @apply -left-2;
}

/* ------------------ */

.keen-slider__slide {
  @apply flex justify-center items-center min-w-[1rem] text-white text-2xl font-semibold uppercase text-center border;
}

.frame2__button--mobile:hover path,
.frame2__button--mobile:hover {
  @apply fill-white text-white duration-75;
}

/* ------------------- */

.button__footer:hover div:nth-child(1) {
  @apply top-0 left-0;
}

/*  ----------------- */
.navigation-wrapper {
  position: relative;
}

/* .keen-slider__magnify {
  width: 200%;
} */

/* .number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
} */

/* .dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
} */

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #ff4655;
  cursor: pointer;
}

.arrow--left {
  left: -40px;
}

.arrow--right {
  left: auto;
  right: -40px;
}

.arrow--disabled {
  fill: #ff46568d;
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 50%;
}
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}
